.headerHomePage {
    border: 5px solid black;
    /* align-items: flex-end; */
    background: url("./homePage.png");
    background-size: 40%;
    justify-content: center;

  }
.titleHide {
  /* font-size: 22px; */
  font-size: 5em;
  display: flex;
  justify-self: left;
  background-color: lightgrey;
  border-radius: 15px;
  opacity: 0.0;
}  
.flex-title {
  display: flex;
  justify-content: left;
}
nav {
  display: flex;
  justify-content: flex-end;

}
  